                            PYTHON INTERNSHIP
                            
                                DAY - 12

Python - Json

Notes :

* Python has a built-in-package called json, which can be used to work with JSON Data

               Import json

* If you have a json string , you can parse it by using the json loads() method .

In [1]:
import json

# some JSON:
x = '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
print(y["age"])

30

* If you have a Python object , you can convert it into a JSON String by using the json.dumps() method .

In [2]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

You can convert Python objects of the following types, into JSON strings:

         * dict
         * list
         * tuple
         * string
         * int
         * float
         * True
         * False
         * None

EXAMPLE

In [3]:
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

* You can also define the separators, default value is (",",":") , which means using a comma and a space to separate each object and a colon and a space to separate keys from values .

* json.dumps (x,indent = 4,separators=(".","="))

* The json.dumps() method has parameters to order the key in the result.

* json.dumps(x,indent=4,sort_keys=True).

EXERCISE :

1) Create a JSON of all object types and import the JSON into a SQL Database Note: The JSON file should have valus of all Datatypes .

Program.json

[

[

    {"name":"Aparna", "age":19,"city":"chennai"},
    [1,2,3],
    [3,2,1],
    "Bangalore",
    35,
    35.5,
    true,
    null]
]

In [5]:
import sqlite3
import json

In [6]:
con = sqlite3.connect("test.db")
print("Database Opened")

Database Opened

In [7]:
cursor = con.cursor()
try:
    cursor.execute("CREATE TABLE MINE"
                   "("
                   + "dictinary BLOB,"
                   + "list BLOB,"
                   + "tuple BLOB,"
                   + "string varchar(50),"
                   + "Integer INTEGER,"
                   + "flo FLOAT,"
                   + "Bool BOOLEAN,"
                   + "None BLOB"
                     ");")
except Exception as e:
    print("Error :", e)
else:
    print("Table created")

Table created

In [10]:
datafile = open("Program.json")
dataset = json.load(datafile)
dataframe = []
for row in dataset:
    data = (str(row[0]), str(row[1]), str(row[2]), str(row[3]), int(row[4]),
            float(row[5]), bool(row[6]), row[7])
    dataframe.append(data)

In [11]:
try:
    cursor.executemany("INSERT INTO MINE VALUES (?,?,?,?,?,?,?,?)", dataframe)
except Exception as e:
    print("Error : ", e)
else:
    con.commit()
    print("Data inserted")

Data inserted

In [12]:
try:
    cursor.execute("SELECT * from MINE")
except Exception as e:
    print("Error : ", e)
else:
    for row in cursor.fetchall():
        print(row)

("{'name': 'Aparna', 'age': 20, 'city': 'chennai'}", '[1, 2, 3]', '[3, 2, 1]', 'Bangalore', 35, 35.5, 1, None)

In [13]:
con.close()